In [1]:
#for basic math computation and data loading lib
import numpy as np
import pandas as pd
#for visualisation of data lib
import matplotlib.pyplot as plt
import seaborn as sns
#for stats operation on data
from scipy import stats
#machine learning pakeages
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import r2_score,mean_squared_error,confusion_matrix,accuracy_score
import statsmodels.api as sm

In [2]:
#reading all the data
data = pd.read_csv('F:\machine learning and deep learning\datasets\insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [5]:
data.shape

(1338, 7)

##### converting to category

In [9]:
a = data.sex.unique()
j = 0
S = {}
for i in a:
    S[i] =j
    j+=1
s = {v:k for v,k in S.items()}
data.sex = data.sex.map(S)
data.sex = data.sex.astype('category')
data.head()

   age sex     bmi  children smoker     region      charges
0   19   0  27.900         0    yes  southwest  16884.92400
1   18   1  33.770         1     no  southeast   1725.55230
2   28   1  33.000         3     no  southeast   4449.46200
3   33   1  22.705         0     no  northwest  21984.47061
4   32   1  28.880         0     no  northwest   3866.85520

In [22]:
S

{'female': 0, 'male': 1}

In [10]:
a = data.region.unique()
j = 0
R = {}
for i in a:
    R[i] =j
    j+=1
r = {v:k for v,k in R.items()}
data.region = data.region.map(R)
data.region = data.region.astype('category')
data.head()

   age sex     bmi  children smoker region      charges
0   19   0  27.900         0    yes      0  16884.92400
1   18   1  33.770         1     no      1   1725.55230
2   28   1  33.000         3     no      1   4449.46200
3   33   1  22.705         0     no      2  21984.47061
4   32   1  28.880         0     no      2   3866.85520

In [11]:
a = data.smoker.unique()
j = 0
Sm = {}
for i in a:
    Sm[i] =j
    j+=1
sm = {v:k for v,k in Sm.items()}
data.smoker = data.smoker.map(Sm)
data.smoker = data.smoker.astype('category')
data.head()

   age sex     bmi  children smoker region      charges
0   19   0  27.900         0      0      0  16884.92400
1   18   1  33.770         1      1      1   1725.55230
2   28   1  33.000         3      1      1   4449.46200
3   33   1  22.705         0      1      2  21984.47061
4   32   1  28.880         0      1      2   3866.85520

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null category
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null category
region      1338 non-null category
charges     1338 non-null float64
dtypes: category(3), float64(2), int64(2)
memory usage: 46.2 KB

In [13]:
data.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [14]:
#selecting the feature and target
X = data.iloc[:,:-1]
Y = data.iloc[:,-1]

In [15]:
#splitting the data
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [16]:
x_train.shape

(936, 6)

In [17]:
x_test.shape

(402, 6)

In [18]:
#building the model
ml = LinearRegression(normalize=True)
ml.fit(x_train,y_train)
print(ml.intercept_,ml.coef_)

10277.02332338596 [   261.62568984    109.64719595    344.54483066    424.37016596
 -23620.80252148    326.46262527]

In [19]:
y_pred = ml.predict(x_test)

In [20]:
#accuracy of the model
r2_score(y_test,y_pred)

0.7694415927057694

In [21]:
mean_squared_error(y_pred,y_test)

33805466.89868861