In [47]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [48]:
path = r'F:\great_learnings\kaggel\catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2\train'

In [49]:
import os,sys

In [50]:
List = os.listdir(path)

In [51]:
df0 = pd.read_csv(path+'\Alice_log.csv')
print(df0.shape)
df0.head()

(22769, 2)

          timestamp           site
0  12-02-2013 16:25   api.bing.com
1  12-02-2013 16:25   api.bing.com
2  12-02-2013 16:32   api.bing.com
3  12-02-2013 16:32  www.google.fr
4  12-02-2013 16:32  www.google.fr

In [52]:
df0['alice'] = 1

In [53]:
df0.head()

          timestamp           site  alice
0  12-02-2013 16:25   api.bing.com      1
1  12-02-2013 16:25   api.bing.com      1
2  12-02-2013 16:32   api.bing.com      1
3  12-02-2013 16:32  www.google.fr      1
4  12-02-2013 16:32  www.google.fr      1

In [54]:
List

['.DS_Store', 'Alice_log.csv', 'other_user_logs', '__MACOSX']

In [55]:
path = path + '\\' + List[2]

In [56]:
List = os.listdir(path)

In [57]:
df1 = pd.read_csv(path+'\\'+List[0])
df1.head()
del List[0]
for i in List:
    df = pd.read_csv(path+'\\'+i)
    df1 = pd.concat([df1,df])
print(df1.shape)
df1.head()

(2390111, 2)

             timestamp                        site
0  2013-11-29 08:14:18  fpdownload2.macromedia.com
1  2013-11-29 08:14:26                  hotmail.fr
2  2013-11-29 08:14:38              login.live.com
3  2013-11-29 08:14:57              login.live.com
4  2013-11-29 08:15:17              login.live.com

In [58]:
df1['alice'] = 0

In [59]:
data_master = pd.concat([df0,df1])

In [60]:
data_master.shape

(2412880, 3)

In [61]:
data_master.columns

Index(['timestamp', 'site', 'alice'], dtype='object')

In [62]:
data_master['timestamp']

0          12-02-2013 16:25
1          12-02-2013 16:25
2          12-02-2013 16:32
3          12-02-2013 16:32
4          12-02-2013 16:32
5          12-02-2013 16:32
6          12-02-2013 16:32
7          12-02-2013 16:32
8          12-02-2013 16:32
9          12-02-2013 16:32
10         12-02-2013 16:32
11         12-02-2013 16:32
12         12-02-2013 16:32
13         12-02-2013 16:32
14         12-02-2013 16:32
15         12-02-2013 16:32
16         12-02-2013 16:32
17         12-02-2013 16:32
18         12-02-2013 16:32
19         12-02-2013 16:32
20         12-02-2013 16:32
21         12-02-2013 16:33
22         12-02-2013 16:33
23         12-02-2013 16:33
24         12-02-2013 16:33
25         12-02-2013 16:33
26         12-02-2013 16:33
27         12-02-2013 16:33
28         12-02-2013 16:33
29         12-02-2013 16:33
               ...
1187    2014-03-17 16:58:29
1188    2014-03-17 16:58:29
1189    2014-03-17 16:58:30
1190    2014-03-17 16:58:30
1191    2014-03-17 16:58:30
1192    2014-03-17 16:58:31
1193    2014-03-17 16:58:33
1194    2014-03-17 16:58:33
1195    2014-03-17 16:58:47
1196    2014-03-17 16:59:22
1197    2014-03-17 16:59:25
1198    2014-03-17 16:59:25
1199    2014-03-17 16:59:30
1200    2014-03-17 16:59:30
1201    2014-03-17 16:59:30
1202    2014-03-17 16:59:51
1203    2014-03-17 16:59:51
1204    2014-03-17 16:59:51
1205    2014-03-17 16:59:59
1206    2014-03-17 17:00:07
1207    2014-03-17 17:00:08
1208    2014-03-17 17:00:08
1209    2014-03-17 17:00:08
1210    2014-03-17 17:00:09
1211    2014-03-17 17:00:09
1212    2014-03-17 17:00:09
1213    2014-03-17 17:00:09
1214    2014-03-17 17:00:10
1215    2014-03-17 17:00:10
1216    2014-03-17 17:00:11
Name: timestamp, Length: 2412880, dtype: object

In [63]:
data_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2412880 entries, 0 to 1216
Data columns (total 3 columns):
timestamp    object
site         object
alice        int64
dtypes: int64(1), object(2)
memory usage: 73.6+ MB

In [64]:
data_master.index = range(data_master.shape[0])

In [65]:
data_master['timestamp'] = pd.to_datetime(data_master['timestamp'])

In [42]:
data_master.head()

            timestamp           site  alice
0 2013-12-02 16:25:00   api.bing.com      1
1 2013-12-02 16:25:00   api.bing.com      1
2 2013-12-02 16:32:00   api.bing.com      1
3 2013-12-02 16:32:00  www.google.fr      1
4 2013-12-02 16:32:00  www.google.fr      1

In [44]:
#data_master.set_index('timestamp')

                                                            site  alice
timestamp
2013-12-02 16:25:00                                 api.bing.com      1
2013-12-02 16:25:00                                 api.bing.com      1
2013-12-02 16:32:00                                 api.bing.com      1
2013-12-02 16:32:00                                www.google.fr      1
2013-12-02 16:32:00                                www.google.fr      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                                www.google.fr      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                         platform.twitter.com      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                             www.facebook.com      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                                  twitter.com      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                             www.facebook.com      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                             www.facebook.com      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                          www.info-jeunes.net      1
2013-12-02 16:32:00                             www.facebook.com      1
2013-12-02 16:33:00                          www.info-jeunes.net      1
2013-12-02 16:33:00                          www.info-jeunes.net      1
2013-12-02 16:33:00                             www.facebook.com      1
2013-12-02 16:33:00                                  twitter.com      1
2013-12-02 16:33:00                          www.info-jeunes.net      1
2013-12-02 16:33:00                             www.facebook.com      1
2013-12-02 16:33:00                          www.info-jeunes.net      1
2013-12-02 16:33:00                             www.facebook.com      1
2013-12-02 16:33:00                                 api.bing.com      1
...                                                          ...    ...
2014-03-17 16:58:29                         dub115.mail.live.com      0
2014-03-17 16:58:29                                  js.live.net      0
2014-03-17 16:58:30                                   h.live.com      0
2014-03-17 16:58:30                       secure.shared.live.com      0
2014-03-17 16:58:30                         dub115.mail.live.com      0
2014-03-17 16:58:31                         dub115.mail.live.com      0
2014-03-17 16:58:33                                   h.live.com      0
2014-03-17 16:58:33                                go.trouter.io      0
2014-03-17 16:58:47                             storage.live.com      0
2014-03-17 16:59:22                       secure.shared.live.com      0
2014-03-17 16:59:25                               login.live.com      0
2014-03-17 16:59:25                                     p.sfx.ms      0
2014-03-17 16:59:30  cid-97d7198274048e15.users.storage.live.com      0
2014-03-17 16:59:30                                   h.live.com      0
2014-03-17 16:59:30                         dub115.mail.live.com      0
2014-03-17 16:59:51                                go.trouter.io      0
2014-03-17 16:59:51                             go.microsoft.com      0
2014-03-17 16:59:51                       ieonline.microsoft.com      0
2014-03-17 16:59:59                    windowslive.tt.omtrdc.net      0
2014-03-17 17:00:07                             www.facebook.com      0
2014-03-17 17:00:08                         platform.twitter.com      0
2014-03-17 17:00:08                                pbs.twimg.com      0
2014-03-17 17:00:08                      eulerian.canal-plus.com      0
2014-03-17 17:00:09                                pbs.twimg.com      0
2014-03-17 17:00:09                             www.facebook.com      0
2014-03-17 17:00:09                                  twitter.com      0
2014-03-17 17:00:09                     s-static.ak.facebook.com      0
2014-03-17 17:00:10                         platform.twitter.com      0
2014-03-17 17:00:10                               login.live.com      0
2014-03-17 17:00:11                    login.secure.emea.msn.com      0

[2406325 rows x 2 columns]

In [46]:
#data_master.site.nunique()

41449

In [ ]:
#from sklearn.model_selection import train_test_split
#from